/* Global styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1, h2 {
    margin: 0;
    font-weight: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: flex;
}

nav li {
    margin-left: 20px;
}

main {
    padding: 20px;
}

section {
    max-width: 800px;
    margin: 0 auto;
}

/* Specific styles */
h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

/* Styles for About Us page only */
main section {
    text-align: justify;
}

main section p:first-of-type {
    text-indent: 2em;
}
a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #222;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

a.button:hover {
    background-color: #222232;
}

a.button:active {
    background-color: #222237;
    transform: translateY(2px);
}