* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    margin: 10px auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
    padding: 20px;
    border-radius: 2px;
    max-width: 800px;
}

.container h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-wrap: wrap;
}

form label {
    flex-basis: 100%;
    margin-bottom: 10px;
}

form input,
form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-basis: 100%;
    margin-bottom: 10px;
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table th,
table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

table th {
    background-color: #333;
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}
a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #222;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

a.button:hover {
    background-color: #222232;
}

a.button:active {
    background-color: #222237;
    transform: translateY(2px);
}