.cart {
    margin: 1%;
    position: absolute;
    width: 98%;
}
body{
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #222;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}
main{
    position: relative;
}
/* Стиль таблицы */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Стиль ячеек заголовка */
th {
    padding: 10px;
    text-align: left;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
}

/* Стиль ячеек тела */
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Стиль кнопок */
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 6px 2px;
    cursor: pointer;
}

/* Стиль кнопки "Очистить корзину" */
button.empty-cart {
    background-color: #f44336;
}

/* Стиль кнопки "Обновить корзину" */
button.update-cart {
    background-color: #008CBA;
}
a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #222;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

a.button:hover {
    background-color: #222232;
}

a.button:active {
    background-color: #222237;
    transform: translateY(2px);
}
.blur-background {
    filter: blur(3px);
}

.container {
    position: absolute;
    z-index: 5;
    width: 50%;
    margin: 10px 25%;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
    padding: 20px;
    border-radius: 2px;
    max-width: 800px;
    display: none;
    flex-wrap: wrap;
}

.container h2 {
    margin-top: 0;
}

.container label,
form label {
    flex-basis: 100%;
    margin-bottom: 10px;
}
.container input,
.container textarea,
form input,
form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-basis: 100%;
    margin-bottom: 10px;
}
select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    color: #333;
}