/* Загальні стилі */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #f2f2f2;
}
main{
    margin: 10px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Заголовок */
.header {
    text-align: center;
    background-color: #333333;
    padding: 20px;
    color: #fff;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 4px;
}

.button:hover {
    background-color: #555;
}

/* Основний контент */
.history {
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
    border-radius: 4px;
}

.history-table {
    width: 100%;
    border-collapse: collapse;
}

.history-table th,
.history-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.history-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.history-table td {
    vertical-align: middle;
}

/* Рядки таблиці */
.history-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Замовлення товарів */
.history-table td[colspan="5"] p {
    margin: 0;
}

/* Повідомлення про відсутність замовлень */
.history p {
    color: #333;
    margin-top: 20px;
}

.history-table tr:hover {
    background-color: lightgray;
    cursor: pointer;
}

.product-image {
    height: 50px;
    margin-right: 10px;
    object-fit: cover;
}

/* Медіа-запит для респонсивного дизайну */
@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .header h1 {
        font-size: 20px;
    }

    .button {
        font-size: 14px;
    }
}