/* Body Styles */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 20px;
}

/* Form Styles */
form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 500px;
    margin: 0 auto;
}

/* Heading Styles */
h1 {
    text-align: center;
    color: #333;
}

/* Label Styles */
label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 10px;
}
/* Input Styles */
input[type=text],
input[type=email],
input[type=password] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    box-sizing: border-box;
}

/* Submit Button Styles */
input[type="submit"] {
    background-color: #222;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #222232;
}

a.button {
    background-color: #222;
    color: #fff;
    padding: 8px 16px 7px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    float: right;
    font-size: 10pt;
}

a.button:hover {
    background-color: #222232;
}

a.button:active {
    background-color: #222237;
    transform: translateY(2px);
}
.error{
    color: red;
}
.ref{
    color: #333;
    text-decoration: none;
}