::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 3px;
}
::-webkit-scrollbar-track {
    background: #222;
}
::-webkit-scrollbar-thumb:hover {
    background: #222;
}
::-webkit-scrollbar-thumb:active {
    background: #222;
}