body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    height: 45px;
    justify-content: space-between;
    padding: 8px;
    position: sticky;
    top: 0;
    left: 0;
    width: 98.76%;
    z-index: 2;
}
form{
    height: 80px;
}
img{
    height: 120px
}
.prod-block{
    float: left;
    height: 250px;
    width: 208px;
    margin: 10px;
    position: relative;
    z-index: 1;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    padding-right: 58px;
    border-collapse: collapse;
}

nav li {
    margin-left: 16px;
}

nav li:first-child {
    margin-left: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

section ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

section li {
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
    padding: 5px;
    border-radius: 2px;

}

section a {
    color: #333;
    text-decoration: none;
}
.main-nav {
    display: flex;
    justify-content: center;
    float: left;
}

section h3 {
    margin: 5px 0;
}

section p {
    margin: 3px 0;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: auto;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: flex;
    flex-direction: column;
    background-color: #333;
    padding: 0.5rem;
    min-width: 70px;
}

.dropdown-menu li {
    margin: 0.2rem 0;
    float: left;
    padding-bottom: 5px;
}

.dropdown-menu a {
    color: white;
    float: left;
}
.login{
    user-select: none;
    font-weight: bolder;
}
a.button{
    background-color: #333;
    color: white;
    padding: 3px;
    border-radius: 2px;
}
.addBut{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 5px;
}
#sidebar {
    position: fixed;
    top: 0;
    overflow-y: scroll;
    left: -245px;
    width: 250px;
    height: 100%;
    background-color: #333;
    z-index: 3;
    transition: all 0.3s ease-in-out;
    color: white;
}

#sidebar.open {
    left: 0px;
}

#sidebar h3 {
    font-size: 1.2em;
    margin: 20px 5px 10px 0;
    padding: 0 20px;
    border-bottom: 1px solid #ccc;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar li {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    margin-right: 5px;
}

#sidebar label {
    display: block;
    margin: 0;
    padding: 0;
}
form label {
    flex-basis: 100%;
    margin-bottom: 10px;
}

form input,
form textarea {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-basis: 100%;
    margin-bottom: 10px;
    margin-left: 20px;
}

form input[type="submit"] {
    background-color: #222;
    color: #fff;
    border: none;
    cursor: pointer;
}
/* Стилі для checkbox */
