body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
}
*{
    box-sizing: border-box;
}
.header {
    background-color: #333;
    color: #fff;
    height: 50px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header h1 {
    margin: 0;
}

h2 {
    float: left;
    width: 98%;
    height: 5%;
    margin: 0 0 30px 3%;
}



form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    font-size: 20pt;
    margin-left: 3%;
}

main {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    font-family: sans-serif;
}
img {
    width: 55%;
    float: left;
}

.left{
    float: right;
    width: 45%;
}

p {
    margin-bottom: 15px;
    margin-left: 3%;
    font-size: 1.2em;
    line-height: 1.5;
}
.desc{
    margin-top: 60px;
    font-family: Arial, sans-serif;
}
pre{
    margin-bottom: 15px;
    margin-left: 3%;
    font-size: 1.2em;
    line-height: 1.5;
}
.price{
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"] {
    font-size: 18pt;
    width: 65px;
    margin-right: 5px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #666;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #222;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

a.button:hover {
    background-color: #222232;
}

a.button:active {
    background-color: #222237;
    transform: translateY(2px);
}
#comment-form{
    height: 120px;
    width: 320px;
    margin-bottom: 20px;
}
#comment-form-data{
    height: 100%;
    width: 100%;
}
#comment{
    height: 80px;
    width: 100%;
    border: solid #333 3px;
    border-radius: 3px;
    resize: none;
    font-size: 12pt;
    font-family: Arial, sans-serif;
}
.commBut{
    background-color: #333;
    color: white;
    border: none;
    border-radius: 3px;
    float: bottom;
}
.comment {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
}
.comment h4 {
    font-size: 16pt;
    margin: 0 0 5px 0;
    color: #222;
}
.comment p {
    margin: 0;
}
.comment p:last-of-type {
    font-style: italic;
    color: black;
}
.delete{
    float: right;
    color: red;
    text-decoration: none;
}
#add-but{
    margin: 10px;
}